#labelOverwritePolicy, .txt-caution {
    color: red;
}

.btn-group-block {
    display: block;
    margin-bottom: 8px;
}

.btn-profile {
    width: calc(100% - 28px);
}

.btn-split-dropdown {
    margin-left: -6px !important;
}

.mfa-switch-container {
    display: inline-block;
    padding: 0;
    width: 70px;
}

.mfa-switch-container > input {
    float: right !important;
}

#deleteProfileName {
    font-style: italic;
    color: red;
}

.loading-container {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#loadingIndicatorSpinner {
    position: absolute;
    top: -20%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: auto;
}

#loadingIndicatorTitle {
    position: absolute;
    top: 45%;
    width: 100%;
    color: #F8F9FA !important;
}

#loadingIndicatorBody {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #F8F9FA !important;
}
