<!DOCTYPE html>
<html>
    <head>
        <link href="../public/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/index.css" rel="stylesheet">
        <title>AWS Profile Selector</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="switchOverwritePolicy" role="switch" id="switchOverwritePolicy">
                <label class="form-check-label" for="switchOverwritePolicy" id="labelOverwritePolicy">[AGREEMENT] AWS profile is overwritten with the value set in this program</label>
            </div>

            <div class="profile-button-container"></div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-secondary" id="btnNewProfile">+</button>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="profileModifyModal" tabindex="-1" aria-labelledby="profileModifyModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="profileModifyModalLabel">Modify profile</h1>
                        <button type="button" class="btn-close" aria-label="Close" id="btnProfileModifyModalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputProfileName" class="form-label">Profile name</label>
                            <input type="text" name="inputProfileName" class="form-control input-profile-modify" id="inputProfileName" placeholder="Profile name (Example : test-dev)" />
                        </div>
                        <div class="mb-3">
                            <label for="inputRegion" class="form-label">Region</label>
                            <input type="text" name="inputRegion" class="form-control input-profile-modify" id="inputRegion" placeholder="Region (Example : ap-northeast-1)" />
                        </div>
                        <div class="mb-3">
                            <label for="inputAccessKeyId" class="form-label">Access key ID</label>
                            <input type="text" name="inputAccessKeyId" class="form-control input-profile-modify" id="inputAccessKeyId" placeholder="Access key ID (Example : ABCDEFGHIJKLMN)" />
                        </div>
                        <div class="mb-3">
                            <label for="inputAccessKey" class="form-label">Access key</label>
                            <input type="text" name="inputAccessKey" class="form-control input-profile-modify" id="inputAccessKey" placeholder="Access key (Example : OPQRSTUVWXYZ)" />
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-switch mfa-switch-container">
                                <label class="form-check-label" for="switchActivateMfaArn" id="labelSwitchActivateMfaArn">MFA</label>
                                <input class="form-check-input" type="checkbox" name="switchActivateMfaArn" role="switch" id="switchActivateMfaArn">
                            </div>
                            <input type="text" name="inputMfaArn" class="form-control input-profile-modify" id="inputMfaArn" placeholder="MFA ARN (Example : arn:aws:iam::1234567890:mfa/account)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnProfileModifyModalCancel">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btnSaveProfile">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="otpModalLabel">Input OTP</h1>
                        <button type="button" class="btn-close" aria-label="Close" id="btnOTPModalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputOTP" class="form-label">OTP</label>
                            <input type="text" name="inputOTP" class="form-control" id="inputOTP" placeholder="OTP (Example : 123456)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnOTPModalCancel">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btnConfirmOTP">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="profileDeleteModal" tabindex="-1" aria-labelledby="profileDeleteModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="profileDeleteModalLabel">Confirm delete profile</h1>
                        <button type="button" class="btn-close" aria-label="Close" id="profileDeleteModalClose"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <p><span class="txt-caution">[CAUTION]</span> If you delete the profile, it cannot be recovered. It is recommended to take measures such as saving configuration before deletion.</p>
                            <p>Please enter the profile name <span id="deleteProfileName"></span> to delete.</p>
                            <input type="text" name="inputDeleteProfileConfirmText" class="form-control" id="inputDeleteProfileConfirmText" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnCancelDeleteProfile">Cancel</button>
                        <button type="button" class="btn btn-danger" id="btnConfirmDeleteProfile">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="aboutModalLabel">About AWS Profile Selector</h1>
                        <button type="button" class="btn-close" aria-label="Close" id="aboutModalClose" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>AWS Profile Selector v1.0.0</p>
                        <p>Build v1.0.0, Built on November 30, 2023</p>
                        <p>Powered by hojin.choe.dev@gmail.com</p>
                        <p>Copyright ⓒ 2023~ Hojin Choe (hojin.choe.dev@gmail.com) All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Indicator -->
        <div class="loading-container">
            <div class="spinner-border text-light" role="status" id="loadingIndicatorSpinner">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </div>
            <p id="loadingIndicatorTitle">Infinite Loading</p>
            <p id="loadingIndicatorBody">
                If this loading screen appears for a long time, please contact the developer.
                <br />
                [Menu => Help => About]
            </p>
        </div>

        <script src="../public/lib/jquery/jquery-3.7.1.min.js"></script>
        <script src="../public/lib/bootstrap/bootstrap.bundle.min.js"></script>
        <script type="module" src="../public/js/index.js"></script>
    </body>
</html>
