<!DOCTYPE html>
<html>
    <head>
        <link href="../public/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="../public/css/index.css" rel="stylesheet">
        <title>AWS Profile Selector</title>
    </head>

    <body>
        <div class="container-fluid">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="overwriteAgreementSwitch">
                <label class="form-check-label" for="overwriteAgreementSwitch" id="overwriteAgreementText">[CAUTION] AWS config is overwritten with the value set in this program</label>
            </div>
            <div class="btn-group btn-group-block">
                <button type="button" class="btn btn-success btn-split-main">SELECTED PROFILE</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split btn-split-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modify</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-block">
                <button type="button" class="btn btn-outline-primary btn-split-main">SELECTABLE PROFILE</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-split-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Modify</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
            </div>
            <div class="btn-group btn-group-block">
                <button type="button" class="btn btn-outline-primary btn-split-main">MFA PROFILE</button>
                <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-split-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">MFA</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Modify</a></li>
                    <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-secondary">+</button>
            </div>
        </div>
    </body>

    <script src="../public/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="../public/lib/bootstrap/bootstrap.bundle.min.js"></script>
</html>
